<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348655505954-9ucjoh9mkbnaojgtr34nhjiabs6m3fhh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348655505954-9ucjoh9mkbnaojgtr34nhjiabs6m3fhh</string>
	<key>API_KEY</key>
	<string>AIzaSyD2Ew4GVXe2Uv6AxRq7djGfdbaXvu01lto</string>
	<key>GCM_SENDER_ID</key>
	<string>348655505954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codefren.snabbudget</string>
	<key>PROJECT_ID</key>
	<string>snabb-budget</string>
	<key>STORAGE_BUCKET</key>
	<string>snabb-budget.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348655505954:ios:9fe1dd98a1e55bed19b07b</string>
</dict>
</plist>